.btn-left {
    height: 44px;
    width: 192px;
    margin: 5px 0 5px 20px;
}
.top-button-group {
    margin: 40px 30px 20px 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.down-button-group {
    padding: 15px 20px 15px 0;
    margin-right: 62px;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 8px;
}

.btn-group > :not(.btn-check:first-child) + .btn, .btn-group > .btn-group:not(:first-child) {
    margin-left: 20px;
}

.btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn, .btn-group > .btn-group:not(:first-child) > .btn {
    border-radius: 8px;
}

.left {
    height: 583px;
    width: 354px;
}

.btn-group {
    border: 1px dashed #9747FF;
    border-radius: 5px;
    margin-left: 20px;
}

.disable {
    background-color: #E6EBF0;
    color:  #C8CDD2;
}